<h1>Main page.</h1>

<h2>Search for flights:</h2>
<%= form_with url: flights_path , method: :get do |form| %>
  <div class="field">
    <%= form.label :departure_airport_name, "From" %>
    <%= form.select :departure_airport_name, @airports %>
  </div>

  <div class="field">
    <%= form.label :arrival_airport_name, "To" %>
    <%= form.select :arrival_airport_name, @airports %>
  </div>

  <div class="field">
    <%= form.label :tickets_num, "Number of Passenger"%>
    <%= form.select :tickets_num, @tickets_range %>
  </div>

  <div class="field">
    <%= form.label :depart, "Depart" %>
    <%= form.select :depart, @dates %>
  </div>
  
  <div class="action">
    <%= form.submit "Search" %>
  </div>
<% end %>

<% if params[:commit] == "Search" %>
  <h2>Results:</h2>

  <%= form_with url: new_booking_path, method: :get do |form| %>
    <%= hidden_field_tag :tickets_num, params[:tickets_num] %>

    <div class="field">
      <%= form.collection_radio_buttons :flight_id, @search_results, :id, :detail do |button| %>
        <%= button.label { button.radio_button + button.text} %><br>
      <% end %>
    </div>

    <div class="action">
      <%= form.submit "Book" %>
    </div>
  <% end %>
<% end %>
