<h1>Selected flight:</h1>

<%= form_with model: @booking do |form| %>
  <%= form.hidden_field :flight_id, value: params[:flight_id] %>
  <table style="border: 1px solid; padding: 20px 10px; text-align: left;">
    <thead>
      <tr>
        <th style="padding: 10px;">Flight id</th>
        <th style="padding: 10px;">Depart</th>
        <th style="padding: 10px;">From</th>
        <th style="padding: 10px;">To</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th style="padding: 10px;"><%= @flight.id %></th>
        <th style="padding: 10px;"><%= @flight.depart.to_date %></th>
        <th style="padding: 10px;"><%= @flight.departure_airport.name %></th>
        <th style="padding: 10px;"><%= @flight.arrival_airport.name %></th>
      </tr>
    </tbody>
  </table>

  <div style="margin: 20px;">
    <h2>Passengers informations:</h2>

    <div data-controller="nested-form">
      <template>
        <%= form.fields_for :passengers, Passenger.new, child_index: "TEMPLATE_INDEX" do |passenger_form| %>
          <%= render "passenger_fields", form: passenger_form %>
        <% end %>
      </template>

      <%= form.fields_for :passengers do |passenger_form| %>
          <%= render "passenger_fields", form: passenger_form %>
      <% end %>
    </div>
  </div>

  <div class="action">
    <%= form.submit "Submit the booking" %>
  </div>
<% end %>
